.sent-form-modal h3 {
    text-align: center;
    text-transform: uppercase;
}

.sent-form-modal > p {
    text-align: center;
    font-size: small;
}

.tick svg {
    fill: lawngreen;
}

@media screen and (max-width : 800px) {
    .sent-form-modal h3 {
        font-weight: lighter;
    }

    .sent-form-modal p {
        font-size: small;
    }
}

