.savings-container {
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    min-height: 400px;
}

.main-form{
    width: 50%;
    background-color: rgb(246, 245, 243);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.main-form form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.main-form form button {
    background-color: lightseagreen;
    color: white;
    width: 80%;
    margin: auto;
}

.main-form form  input{
 background-color: rgba(245, 245, 220, 0);
}

.main-form form div{
    border-bottom: 1px solid black;
    width: 80%;
    margin: auto;
}

.main-form form select{
    border: 0;
    background-color: rgba(245, 245, 220, 0);

}

.image{
    width: 50%;
    height: 100%;
    background-image: url(/public/img/savings-image.jpg);
    background-position: center;
    background-size: cover;
}
.savings-container h1{
    color: lightseagreen;
    font-size: larger;
    font-weight: 400;
}

.vertical-bar{
    height: 1.5px;
    width: 120px;
    background-color: goldenrod;
    margin-top: 7px;
}

.main-form h2{
    font-size: small;
    text-align: center;
}

@media (max-width: 800px) {
   .image {
    display: none;
   }
   .main-form {
    width: 80%;
    height: 90%;
    font-size: small;
   }
 
   .main-form form {
    width: 100%;
   }


   .vertical-bar {
    margin-top: -1px;
   }


   .main-form input {
    width: 100%;
    margin: auto;
   }
   .main-form select {
    width: 80%;
    margin: auto;
   }
   .savings-container {
    background-image: url(/public/img/gallery-2.jpg);
  
   }

   .main-form h2 {
       text-align: center;
   }
}

