/*-------------------ABOUT US -----------------------*/

#about {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 96%;
    margin-bottom: 2rem;
    min-height: 500px;
}



.about-us-main {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    justify-content: space-evenly;
}

.founders-image {
    width: 40%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.founders-image img {
    object-fit: cover;
    object-position: top;
    height: 100%;
    width: 100%;

}

.about-us-article {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.about-us-article h3 {
    color: rgb(106, 218, 147);
    font-size: medium;
}

.about-us-article h3 a {
    text-decoration: underline;
}

.about-us-article p {
    font-size: small;
    color: var(--color-gray);
}

@media screen and (max-width : 800px) {
    .about-us-main {
        flex-direction: column;
    }

    .founders-image {
        width: 95%;
        height: 400px;
    }

    .about-us-article {
        width: 95%;
    }

    .who-we-are {
        margin-bottom: 0rem;
    }
        .about-us-article h3 {
            font-weight: lighter;
        }
}

@media screen and (max-width : 800px) and (orientation : landscape){
    .about-us-article h3 {
            font-weight: lighter;
    }
}